<h2 mat-dialog-title>Deseja excluir o Título:</h2>
<div mat-matDialogContent>
    <div class="subtitle">
        <h3 mat-dialog-title>{{data.titulo.nome_fornecedor}}</h3>
    </div>
    <div class="info-titulo">
        <div class="linha">
            <mat-form-field appearance="outline">
                <mat-label>Item</mat-label>
                <input matInput [value]="data.titulo.nome_item">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>NF</mat-label>
                <input matInput [value]="data.titulo.nf_tit">
            </mat-form-field>
        </div>
        <div class="linha">
            <mat-form-field appearance="outline">
                <mat-label>Emissão</mat-label>
                <input matInput [value]="data.titulo.data_emissao_tit | date: 'dd/MM/yyyy'">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Vencimento</mat-label>
                <input matInput [value]="data.titulo.data_venc_tit | date: 'dd/MM/yyyy'">
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput [value]="data.titulo.valor_tit | currency : 'BRL'">
        </mat-form-field>
        
        
        <!-- <span>NF     : {{data.titulo.nf_tit}}</span>
        <span>Emissão: {{data.titulo.data_emissao_tit | date: 'dd/MM/yyyy'}}</span>
        <span>Venc   : {{data.titulo.data_venc_tit | date: 'dd/MM/yyyy'}}</span>
        <span>Valor  : {{data.titulo.valor_tit | currency : 'BRL'}}</span> -->
        <div mat-dialog-actions align="end">
            <button mat-button (click)="delTitulo()" color="primary" >Sim</button>
            <button mat-button (click)="fechar()" color="warn" cdkFocusInitial>Não</button>
        </div>
    </div>
</div>
