<h2 mat-dialog-title>{{data.titulo.nome_fornecedor}}</h2>
<h3>{{data.titulo.nome_item}}</h3>
<div mat-matDialogContent>
  <table class="table">
    <thead class="table-light">
      <th>DATASUL</th>
      <th>NF</th>
      <th>EMISSÃO</th>
      <th>VENCIMENTO</th>
      <th>VALOR</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let row of row">
          <td>{{ row.nome_interface }}</td>
          <td>{{ row.nf_tit }}</td>
          <td>{{ row.data_emissao_tit | date: 'dd/MM/yyyy'}}</td>
          <td>{{ row.data_venc_tit | date: 'dd/MM/yyyy'}}</td>
          <td>{{ row.valor_tit | currency: 'BRL' }}</td>
      </tr>
    </tbody>
  </table>

  <div mat-dialog-actions class="rodape">
      <h3>Excluir Título?</h3>
      <div>
        <button mat-button (click)="delTitulo()" color="primary" >Sim</button>
        <button mat-button (click)="fechar()" color="warn" cdkFocusInitial>Não</button>
      </div>
  </div>
</div>
