<mat-card>
    <mat-card-title>Selecione a Interface e/ou o Fornecedor</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content style="margin-top: 30px">
        <form [formGroup]="formGroup">
            <mat-form-field appearance="fill">
                <mat-label>Datasul</mat-label>
                <mat-select formControlName="id_datasul">
                    <mat-option *ngFor="let item of datasul" [value]="item.id">{{ item.nome_interface }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Fornecedor</mat-label>
                <mat-select formControlName="id_fornecedor">
                    <mat-option *ngFor="let item of fornecedores" [value]="item.id_fornecedor">{{ item.cod_fornecedor}} - {{ item.nome_fornecedor }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary"(click)="getItens()" [disabled]="!formGroup.valid">Salvar</button>
      <button mat-button color="warn" (click)="formGroup.reset()">Limpar</button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <div class="header-card">
      <div class="header-titulo">
        <mat-card-title>
          <span class="material-symbols-outlined">
            format_list_bulleted
          </span>
          Itens
        </mat-card-title>
      </div>
    </div>
    <mat-card-content *ngIf="result.length != 0">
        <div class="tabela">
            <mat-form-field class="filter" appearance="standard">
                <mat-label>Filtro</mat-label>
                <input matInput  (keyup)="applyFilter($event)" placeholder="Ex. Telefonia Móvel" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8">

                <ng-container matColumnDef="id_item">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id_item">
                        #
                    </th>
                    <td mat-cell *matCellDef="let item">{{ item.id_item}}</td>
                </ng-container>

                <ng-container matColumnDef="nome_item">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nome_item">
                        ITEM
                    </th>
                    <td mat-cell *matCellDef="let item">{{ item.nome_item }}</td>
                </ng-container>

                <ng-container matColumnDef="nome_fornecedor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nome_fornecedor">
                    FORNECEDOR
                    </th>
                    <td mat-cell *matCellDef="let item"> {{item.cod_fornecedor}} - {{item.nome_fornecedor}} </td>
                </ng-container>

                <ng-container matColumnDef="nome_interface">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nome_interface">
                    DATASUL
                    </th>
                    <td mat-cell *matCellDef="let item"> {{item.nome_interface}} </td>
                </ng-container>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by interface">
                    AÇÃO
                    </th>
                    <td mat-cell *matCellDef="let item">
                    <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>

