form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row .datasul {
    width: 32%;
}

.row .fornecedor {
    width: 45%;
}

.cod_fornecedor {
    width: 19%;
}


.row-2 {
    width: 32%;
}

mat-card {
    border-top: 3px solid #3f51b5;
    margin-bottom: 20px;
}

.content-table {
    margin-top: 10px;
}

table thead {
    text-align: left;
}

tbody tr {
    vertical-align: middle;
}

tr td:last-child {
    text-align: center;

}

thead th:last-child {
    text-align: center;
}