form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

mat-form-field:nth-child(1) {
    width: 20%;
}

mat-form-field:nth-child(2) {
    width: 50%;
}

mat-form-field:nth-child(3) {
    width: 20%;
}

mat-card {
    border-top: 3px solid #3f51b5;
}