/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
        
}
.mat-simple-snackbar-action {

    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}



.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    
}

.alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.mat-sort-header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    align-items: center;
    letter-spacing: normal;
    outline: 0;
}


.mat-cell {
    text-align: center;
}