/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;

}
.mat-simple-snackbar-action {

    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}



.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;

}

.alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.mat-sort-header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    align-items: center;
    letter-spacing: normal;
    outline: 0;
    /* height: 40px; */
}

table th.mat-header-cell {
  text-align: center;
  /* background-color:#626d7d; */
  height: 52px;
  /* color: whitesmoke; */

}


.mat-cell {
    text-align: center;
}

.mat-checkbox-frame {
  border: #a7a7a7;
}

.mat-sort-header-arrow {
  /* color: white; */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
