table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr td:last-child {
    text-align: end;
}

th:last-child {
    text-align: end;
}

.tabela {
    overflow-y: auto;
    max-height: 55vh;
}

/* table thead {
  text-align: left;
}

h1 {
    margin-bottom: 0;
}

tbody tr {
    vertical-align: middle;
}

tr td:last-child {
    text-align: end;
    
}

thead th:last-child {
    text-align: end;
} */
