<mat-tab-group
  animationDuration="0ms"
  color="warn"
  (click)="changeColor(index)"
  #index
>
  <mat-tab
    *ngFor="let link of links"
  >

    <ng-template mat-tab-label >
      <div>
        <mat-icon  class="example-tab-icon">{{link.icon}}</mat-icon>
        <span >{{link.link}}</span>
      </div>
    </ng-template>
    <app-lista-titulos [statusTab]="link.status"></app-lista-titulos>
  </mat-tab>
  <mat-tab>

    <ng-template mat-tab-label >
      <mat-icon  class="example-tab-icon">add_circle</mat-icon>
      <span >Cadastrar Título</span>
    </ng-template>
    teste
  </mat-tab>
</mat-tab-group>
