.example-tab-icon {
  margin-right: 8px;
  /* color: red; */
}



div {
  display: flex;
  align-items: center;
}

.cadastrado {
  color: #721c24;

}

.lancado {
  color: #856404;

}

.aprovado {
  color: #004085;
}

.entregue {
  color:#155724;
}



