<mat-tab-group
  animationDuration="0ms"
  [selectedIndex]="0"
  color="undefined"
  (click)="changeColor(index)"
  #index
>
  <mat-tab>
    <ng-template mat-tab-label >
      <div>
        <mat-icon class="example-tab-icon" [ngClass]="{'cadastrado': position == 'CADASTRADO'}">warning</mat-icon>
        <span [ngClass]="{'cadastrado': position == 'CADASTRADO'}">CADASTRADOS</span>
      </div>
    </ng-template>
    <app-lista-titulos [statusTab]="position"></app-lista-titulos>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label >
      <mat-icon  class="example-tab-icon" [ngClass]="{'lancado': position == 'LANÇADO'}">warning</mat-icon>
      <span [ngClass]="{'lancado': position == 'LANÇADO'}" >LANÇADO</span>
    </ng-template>
    <app-lista-titulos [statusTab]="position"></app-lista-titulos>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label >
      <mat-icon  class="example-tab-icon" [ngClass]="{'aprovado': position == 'APROVADO'}">warning</mat-icon>
      <span [ngClass]="{'aprovado': position == 'APROVADO'}" >APROVADO</span>
    </ng-template>
    <app-lista-titulos [statusTab]="position"></app-lista-titulos>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label >
      <mat-icon  class="example-tab-icon" [ngClass]="{'entregue': position == 'ENTREGUE'}">warning</mat-icon>
      <span [ngClass]="{'entregue': position == 'ENTREGUE'}" >ENTREGUE</span>
    </ng-template>
    <app-lista-titulos [statusTab]="position"></app-lista-titulos>
  </mat-tab>
</mat-tab-group>


