table {
  width: 100%;
}

table thead {
  text-align: left;
}

tbody tr {
  vertical-align: middle;
}

tr td:last-child {
  text-align: end;

}

thead th:last-child {
  text-align: end;
}

.cadastro-item {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}