<mat-card>
    <mat-card-title>Cadastro de Fornecedor</mat-card-title>
    <mat-card-subtitle>informe os dados do novo Fornecedor</mat-card-subtitle>
    <mat-card-content style="margin-top: 30px">
        <form [formGroup]="formGroup">
            <mat-form-field appearance="fill">
                <mat-label>Código Fornecedor</mat-label>
                <input matInput formControlName="cod_fornecedor">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Nome Fornecedor</mat-label>
                <input matInput formControlName="nome_fornecedor">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>CNPJ Fornecedor</mat-label>
                <input matInput formControlName="cnpj_fornecedor" type="text" [textMask]="{mask: mask}" [(ngModel)]="myModel" (keyup)="mascara($event)" >
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Datasul</mat-label>
                <mat-select formControlName="id_datasul">
                    <mat-option value="">--Selecione uma Interface</mat-option>
                    <mat-option *ngFor="let item of result" [value]="item.id">{{ item.nome_interface }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary"(click)="cadastrarForncedor()" [disabled]="!formGroup.valid">Salvar</button>
      <button mat-button color="warn" (click)="formGroup.reset()">Limpar</button>
    </mat-card-actions>
</mat-card>


