.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99%;
}

.tabela {
  width: 100%;
}

.filtros {
  display: flex;
  align-items: center;
}

.btns {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mat-form-field {
  font-size: 14px;
  width: 70%;
}

.container-table {
  overflow-y: auto;
  max-height: 79%;
}

mat-card {
  max-height: 77vh;
}

.btn-lancar {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.btn-aprovar {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.btn-entregar {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
