.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99%;
}

.tabela {
  width: 100%;
}

.filtros {
  display: flex;
  align-items: center;
}

.btns {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mat-form-field {
  font-size: 14px;
  width: 70%;
}

.container-table {
  overflow-y: auto;
  max-height: 79%;
}

mat-card {
  max-height: 77vh;
}
