<div class="cont">
  <mat-card>
    <div class="header">
      <div class="titulos-header">
        <mat-card-title>
          <span class="material-symbols-outlined">
            payments
          </span>
          Títulos
        </mat-card-title>
        <mat-card-subtitle>Lista de Títulos</mat-card-subtitle>
      </div>


      <div class="btns">
        <button mat-raised-button color="primary"><mat-icon>add</mat-icon></button>
        <button mat-raised-button class="btn-lancar" (click)="alterarStatus()">Lançar</button>
        <button mat-raised-button class="btn-aprovar">Aprovar</button>
        <button mat-raised-button class="btn-entregar">Entregar</button>
        {{valorStr}}
      </div>
    </div>

    <mat-card-content>

      <div class="container-filtros">
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Num_NF" #input>
        </mat-form-field>
      </div>
      <div class="container-table">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8 tabela"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                [(ngModel)]="parentSelect"
                [value]='-1'
                (change)="onChangeTitulo($event)"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
              [checked]="row.select"
              [value]="row.id"
              (change)="onChangeTitulo($event)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id" >
              #ID
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.id}} </td>
          </ng-container>


          <ng-container matColumnDef="fornecedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fornecedor">
              FORNECEDOR
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.fornecedor}} </td>
          </ng-container>

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by item">
              ITEM
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.item}} </td>
          </ng-container>

          <ng-container matColumnDef="cod_fornecedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cod_fornecedor">
              COD_FORNECEDOR
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.cod_fornecedor}} </td>
          </ng-container>


          <ng-container matColumnDef="num_nf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by num_nf">
              NUM_NF
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.num_nf}} </td>
          </ng-container>

          <ng-container matColumnDef="datasul">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by datasul">
              DATASUL
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.datasul}} </td>
          </ng-container>

          <ng-container matColumnDef="dt_emissao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by emissão">
              EMISSÃO
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.dt_emissao}} </td>
          </ng-container>

          <ng-container matColumnDef="dt_venc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vencimento">
              VENCIMENTO
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.dt_venc}} </td>
          </ng-container>

          <ng-container matColumnDef="dt_entregue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by entregue">
              ENTREGUE CONTAS
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.dt_venc}} </td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valor">
              VALOR
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.valor}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
              STATUS
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.status}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
