.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99%;
}

.tabela {
  width: 100%;
}

table tr {
  height: 36px;
}

.selected-row {
  background-color: #c2dbff;;
  font-weight: bold;
}

table tr td {
  font-size: 12px;
  vertical-align: middle;
}

tr td:last-child {
  text-align: end;
  padding: 0;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-around;
}

tr > th:last-child {
  text-align: end;
  padding: 0;

}

tr td:first-child,
tr th:first-child {
  padding-left: 6px;
}

tr td:nth-child(2),
tr th:nth-child(2) {
  padding-left: 5px;
}

tr th:nth-child(8) {
  text-align: center;
}

.container-filtros {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.btns {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container-table {
  overflow-y: auto;
  max-height: 65vh;
}

mat-card {
  max-height: 87vh;
  border-top: 3px solid #3f51b5;

}

mat-card-title {
  display: flex;
  align-items: center;
}

.titulos-header span {
  font-size: 30px;

  margin-right: 10px;
}

.titulos-header {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;

}

.header .linha-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin-bottom: 20px;
}

.header .linha-2 {
  display: flex;
  justify-content: space-between;
}

.linha-1 .totais {
  display: flex;
  align-items: center;
  justify-content: inherit;
  min-width: 200px;
}

.btn-cadastrado {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.btn-lancar {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.btn-aprovar {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.btn-entregar {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.btn-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-stroked-button {
  line-height: 30px;
  font-size: 12px;
}
