<div class="cont">
  <mat-card>
    <div class="header">
      <div class="titulos-header">
        <mat-card-title>
          <span class="material-symbols-outlined">
            payments
          </span>
          Títulos
        </mat-card-title>
        <mat-card-subtitle>Lista de Títulos</mat-card-subtitle>
      </div>


      <div class="btns">
        <button mat-raised-button color="primary" routerLink="/cadastrar-titulo"><mat-icon>add</mat-icon></button>
        <button mat-raised-button class="btn-lancar" (click)="alterarStatus()">Lançar</button>
        <button mat-raised-button class="btn-aprovar">Aprovar</button>
        <button mat-raised-button class="btn-entregar">Entregar</button>
        {{valorStr}}
      </div>
    </div>

    <mat-card-content>

      <div class="container-filtros">
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Num_NF" #input>
        </mat-form-field>
      </div>
      <div class="container-table">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8 tabela"
        >
          <ng-container matColumnDef="sel">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                [(ngModel)]="parentSelect"
                [value]='-1'
                (change)="onChangeTitulo($event)"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
              [checked]="row.sel"
              [value]="row.id_titulo"
              (change)="onChangeTitulo($event)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="nome_fornecedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fornecedor">
              FORNECEDOR
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.nome_fornecedor}} </td>
          </ng-container>

          <ng-container matColumnDef="nome_item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by item">
              ITEM
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.nome_item}} </td>
          </ng-container>

          <ng-container matColumnDef="cod_fornecedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cod_fornecedor">
              COD_FORNECEDOR
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.cod_fornecedor}} </td>
          </ng-container>


          <ng-container matColumnDef="nf_tit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by num_nf">
              NUM_NF
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.nf_tit}} </td>
          </ng-container>

          <ng-container matColumnDef="nome_interface">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by datasul">
              DATASUL
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.nome_interface}} </td>
          </ng-container>

          <ng-container matColumnDef="data_emissao_tit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by emissão">
              EMISSÃO
            </th >
            <td class="data-center" mat-cell *matCellDef="let titulo"> {{titulo.data_emissao_tit | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="data_venc_tit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vencimento">
              VENCIMENTO
            </th>
            <td class="data-center" mat-cell *matCellDef="let titulo"> {{titulo.data_venc_tit | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="data_entregue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by entregue">
              ENTREGUE
            </th>
            <td class="data-center" class="data-center" mat-cell *matCellDef="let titulo"> {{titulo.data_entregue ? titulo.data_entregue : '-' }} </td>
          </ng-container>

          <ng-container matColumnDef="valor_tit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valor">
              VALOR
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.valor_tit | currency : 'BRL'}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
              STATUS
            </th>
            <td mat-cell *matCellDef="let titulo"> {{titulo.status}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
