h2 {
    margin: 0;
}

h4, h3 {
    margin-top: -4px;
    margin-bottom: 0;
    color: rgba(0,0,0,.54);
}

.sub-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-2 {
    width: 100%;
    display: flex;

    justify-content: space-between;
    margin-top: 15px;
}

form {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 0 22px;
}

mat-form-field {
    width: 30%;
}

mat-form-field div {
    margin: 0;
    padding: 0;
}

.estatico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.content {
    margin-top: 10px;
}

tr td:last-child,
th:last-child{
    text-align: end;
}

.divisoria {
  border: 0.5px rgb(160, 158, 158) dashed ;
}
